<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Insert title here</title>
</head>
<body>

	<div>Welcome <span th:text = "${name}" /></div>
	
	<div>
		<a href="/logout">Logout</a>
	</div>

</body>
</html>